<?xml version="1.0"?>
<!--
Web.config file for asp.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <compilation defaultLanguage="C#" debug="false">
      <assemblies>
      </assemblies>
    </compilation>
    <customErrors mode="Off">
      <!-- set this to off or runtime exception on Uhuru -->
    </customErrors>
    <authentication mode="None">
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <httpHandlers>
    </httpHandlers>
    <trace enabled="false" localOnly="true" pageOutput="false" requestLimit="10" traceMode="SortByTime" />
	<sessionState cookieless="UseCookies" cookieName="JSESSIONID" mode="InProc" />
	<machineKey decryption="Auto" decryptionKey="0123456789012345" validation="MD5" validationKey="012345678901234501234567890123450123456789012345" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages>
    </pages>
  </system.web>
</configuration>